.layout {
  position: relative;
  height: 100%;
  min-height: 100%;
  max-height: 100%;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  overflow: hidden;
}

.header {
  padding: 0 10px;
  height: 54px;
  line-height: 54px;
  color: rgba(255, 255, 255, 0.8);
  background-color: #041725;
}

.content {
  height: 100%;
}

.footer {
  padding: 12px 10px;
  background-color: rgb(255, 255, 255);
  border-top: 1px solid #e8e8e8;
}

.footer .v {
  float: right;
}
