@import url("../node_modules/normalize.css/normalize.css");
@import url("../node_modules/react-grid-layout/css/styles.css");
@import url("../node_modules/react-resizable/css/styles.css");

:global(#root) {
  position: relative;
  height: 100%;
  min-height: 100%;
  max-height: 100%;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  overflow: hidden;
}
